<!DOCTYPE html>
<html ng-app="FindTechApp">
<head ng-controller="FindTechCtrl">
    <meta charset="utf-8">
    <title>iFind.vn - @ViewBag.Title</title>
    <meta name="keywords" content="ifind vietnam, ifind.vn, so sánh điện thoại, so sánh máy tính bảng, đánh giá điện thoại, đánh giá máy tính bảng, tìm điện thoại, tìm máy tính bảng">
    <meta name="description" content="@ViewBag.Description">
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:site_name" content="Cổng thông tin công nghệ - iFind.vn">
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:image" content="@ViewBag.Image">

    <meta name="author" content="ifind.vn">
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/UIFramework/Progressive/img/favicon.ico">

    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.angularjs.org/snapshot/angular-csp.css">
    @Styles.Render("~/fo/progressive/css")
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <link rel='stylesheet' href="css/ie/ie8.css">
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @*<script src="//use.typekit.net/eds7sto.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>*@
</head>
<body ng-cloak class="hidden-top">
    <div class="page-box">
        <div class="page-box-content">
            <div id="top-box">
                <div class="top-box-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-9 col-sm-5">
                                <div class="btn-group language btn-select">
                                    <a class="btn dropdown-toggle btn-default" role="button" data-toggle="dropdown" href="#">
                                        <span class="hidden-xs">Language</span><span class="visible-xs">Ngôn ngữ</span>
                                        <!--
                                        -->
                                        : Tiếng Việt
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><img src="img/eng-flag.png" alt="">English</a></li>
                                        <li><a href="#"><img src="img/fra-flag.png" alt="">Tiếng Việt</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-7">
                                <div class="navbar navbar-inverse top-navbar top-navbar-right" role="navigation">
                                    <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".top-navbar .navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <nav class="collapse collapsing navbar-collapse">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#">Đăng nhập <i class="fa fa-lock after"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #top-box -->
            <header class="header">
                <div class="header-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-md-2 col-lg-2 logo-box">
                                <div class="logo">
                                    <a href="~/">
                                        <img src="~/UIFramework/Progressive/img/logo-alpha.png" class="logo-img" alt="" height="40">
                                    </a>
                                </div>
                            </div><!-- .logo-box -->
                            @*<div class="col-xs-6 col-md-10 col-lg-6 right-box">
                                              <div class="right-box-wrapper">
                                                  <form name="search-form" class="search-form" action="{{'/tim-kiem/' + keyword}}">
                                                      <input class="search-string form-control" type="search" placeholder="Tìm kiếm điện thoại, máy tính bản..." ng-model="keyword">
                                                      <button class="search-submit">
                                                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                                                          <path fill="#00ade0" d="M12.001,10l-0.5,0.5l-0.79-0.79c0.806-1.021,1.29-2.308,1.29-3.71c0-3.313-2.687-6-6-6C2.687,0,0,2.687,0,6
                                s2.687,6,6,6c1.402,0,2.688-0.484,3.71-1.29l0.79,0.79l-0.5,0.5l4,4l2-2L12.001,10z M6,10c-2.206,0-4-1.794-4-4s1.794-4,4-4
                                s4,1.794,4,4S8.206,10,6,10z"></path>
                                                          <image src="img/png-icons/search-icon.png" alt="" width="16" height="16" style="vertical-align: top;">
                                                          </svg>
                                                      </button>
                                                  </form>
                                              </div>
                                          </div>*@
                            <div class="col-xs-6 col-md-10 col-lg-10 main-menu">
                                <div class="right-box-wrapper">
                                    <div class="header-icons">
                                        <div class="search-header hidden-600">
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                                                <path d="M12.001,10l-0.5,0.5l-0.79-0.79c0.806-1.021,1.29-2.308,1.29-3.71c0-3.313-2.687-6-6-6C2.687,0,0,2.687,0,6
					s2.687,6,6,6c1.402,0,2.688-0.484,3.71-1.29l0.79,0.79l-0.5,0.5l4,4l2-2L12.001,10z M6,10c-2.206,0-4-1.794-4-4s1.794-4,4-4
					s4,1.794,4,4S8.206,10,6,10z"></path>
                                                <image src="img/png-icons/search-icon.png" alt="" width="16" height="16" style="vertical-align: top;">
				  </svg>
                                            </a>
                                        </div>
                                        <!-- .search-header

                                        -->
                                        <div class="phone-header hidden-600">
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                                                <path d="M11.001,0H5C3.896,0,3,0.896,3,2c0,0.273,0,11.727,0,12c0,1.104,0.896,2,2,2h6c1.104,0,2-0.896,2-2
					c0-0.273,0-11.727,0-12C13.001,0.896,12.105,0,11.001,0z M8,15c-0.552,0-1-0.447-1-1s0.448-1,1-1s1,0.447,1,1S8.553,15,8,15z
					M11.001,12H5V2h6V12z"></path>
                                                <image src="img/png-icons/phone-icon.png" alt="" width="16" height="16" style="vertical-align: top;">
				  </svg>
                                            </a>
                                        </div>
                                        <!-- .phone-header

                                        -->
                                        <div class="btn-group cart-header pin-header">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <div class="icon" title="Ghi nhớ bài viết">
                                                    <div class="livicon" data-n="pin-on" data-s="24"></div>
                                                </div>
                                                <span class="count">({{pinnedArticles.Articles.length}})</span>
                                            </a>
                                            <div class="dropdown-menu">
                                                <strong>Những bài đã nhớ</strong>
                                                <ul class="list-unstyled">
                                                    <li class="pinTips" ng-if="pinnedArticles.Articles.length == 0">Bấm <span class="fa fa-thumb-tack"></span> để ghim bài viết</li>
                                                    <li ng-repeat="article in pinnedArticles.Articles track by $index" ng-if="$index < 4">
                                                        <a ng-attr-href="/bai-viet/{{article.SeoTitle}}" class="product-image"><img ng-src="{{article.SquareAvatar | width:70:article.Avatar}}" width="70" height="70" alt=""></a>
                                                        <a href="#" class="product-remove" ng-click="pinArticle(article.ArticleId)">
                                                            <div class="icon" title="Xóa">
                                                                <div class="livicon" data-n="trash" data-s="24"></div>
                                                            </div>
                                                            @*<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                                                                                                    <g>
                                                                                                    <path d="M6,13c0.553,0,1-0.447,1-1V7c0-0.553-0.447-1-1-1S5,6.447,5,7v5C5,12.553,5.447,13,6,13z"></path>
                                                                                                    <path d="M10,13c0.553,0,1-0.447,1-1V7c0-0.553-0.447-1-1-1S9,6.447,9,7v5C9,12.553,9.447,13,10,13z"></path>
                                                                                                    <path d="M14,3h-1V1c0-0.552-0.447-1-1-1H4C3.448,0,3,0.448,3,1v2H2C1.447,3,1,3.447,1,4s0.447,1,1,1
                                                                    c0,0.273,0,8.727,0,9c0,1.104,0.896,2,2,2h8c1.104,0,2-0.896,2-2c0-0.273,0-8.727,0-9c0.553,0,1-0.447,1-1S14.553,3,14,3z M5,2h6v1
                                                                    H5V2z M12,14H4V5h8V14z"></path>
                                                                  </g>
                                                                </svg>*@
                                                        </a><!-- .product-remove -->
                                                        <h4 class="product-name"><a ng-attr-href="/bai-viet/{{article.SeoTitle}}" title="">{{article.Title}}</a></h4>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </ul>
                                                <div class="cart-button" ng-if="pinnedArticles.Articles.length > 4">
                                                    <a class="btn btn-warning" href="{{model.Url}}">Xem tất cả</a>
                                                </div>
                                            </div>
                                        </div><!-- .cart-header -->
                                    </div><!-- .header-icons -->
                                    <div class="primary">
                                        <div class="navbar navbar-default" role="navigation">
                                            <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".primary .navbar-collapse">
                                                <span class="text">Menu</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <nav class="collapse collapsing navbar-collapse">
                                                <ul class="nav navbar-nav navbar-center">
                                                    <li class="item-success">
                                                        <a href="/tin-tuc"><i class="fa fa-rss"></i>&nbsp; TIN TỨC</a>
                                                    </li>
                                                    <li class="item-info">
                                                        <a href="/soi"><i class="fa fa-eye"></i>&nbsp; SOI</a>
                                                    </li>
                                                    <li class="item-primary">
                                                        <a href="/danh-muc/kenh-giai-tri"><i class="fa fa-smile-o"></i>&nbsp; KÊNH GIẢI TRÍ</a>
                                                    </li>
                                                    <li class="item-danger">
                                                        <a href="#"><i class="fa fa-mobile"></i>&nbsp; ĐIỆN THOẠI<span class="item-new">Sắp ra mắt</span></a>
                                                    </li>
                                                    <li class="item-warning">
                                                        <a href="#"><i class="fa fa-tablet"></i>&nbsp; MÁY TÍNH BẢNG<span class="item-new">Sắp ra mắt</span></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div><!-- .primary -->
                                </div>
                            </div><!-- .logo-box -->
                            <div class="phone-active col-sm-10 col-md-10">
                                <a href="#" class="close"><span>đóng</span>×</a>
                                <span class="title">Đường dây nóng</span> <strong>+84 986 111 680</strong>
                            </div>
                            <div class="search-active col-sm-10 col-md-10">
                                <a href="#" class="close"><span>đóng</span>×</a>
                                <form name="search-form" class="search-form" action="{{'/tim-kiem/' + keyword}}">
                                    <input class="search-string form-control" type="search" placeholder="Tìm kiếm điện thoại, máy tính bản..." ng-model="keyword">
                                    <button class="search-submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                                        <path fill="#231F20" d="M12.001,10l-0.5,0.5l-0.79-0.79c0.806-1.021,1.29-2.308,1.29-3.71c0-3.313-2.687-6-6-6C2.687,0,0,2.687,0,6
				s2.687,6,6,6c1.402,0,2.688-0.484,3.71-1.29l0.79,0.79l-0.5,0.5l4,4l2-2L12.001,10z M6,10c-2.206,0-4-1.794-4-4s1.794-4,4-4
				s4,1.794,4,4S8.206,10,6,10z"></path>
                                        <image src="img/png-icons/search-icon.png" alt="" width="16" height="16" style="vertical-align: top;">
			  </svg>
                                    </button>
                                </form>
                            </div>
                        </div><!--.row -->
                    </div>
                </div><!-- .header-wrapper -->
            </header><!-- .header -->
            @*<div class="box-filter-menu">
                    <div class="container">
                        <div class="btn-group site-menu">
                            <button class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown"><i class="livicon" data-s="16" data-n="home" data-c="#fff" data-hc="0"></i>&nbsp; Trang chủ &nbsp;<span class="caret"></span></button>
                            <ul class="nav nav-pills nav-stacked text-left list-unstyled dropdown-menu">
                                <li class="active"><a href="#"><i class="livicon" data-s="16" data-n="home" data-c="#fff" data-hc="0"></i> Trang chủ</a></li>
                                <li><a href="#"><i class="livicon" data-s="16" data-n="edit" data-c="#0098ca" data-hc="0"></i> Applications</a></li>
                                <li><a href="#"><i class="livicon" data-s="16" data-n="gears" data-c="#0098ca" data-hc="0"></i> Settings</a></li>
                            </ul>
                        </div>
                        <div class="button-list">
                            <button type="button" class="btn btn-sm btn-border btn-noborder btn-info"><i class="fa fa-home"></i>&nbsp; TRANG CHỦ</button>
                            <button type="button" class="btn btn-sm btn-border btn-noborder btn-danger"><i class="fa fa-mobile"></i>&nbsp; ĐIỆN THOẠI</button>
                            <button type="button" class="btn btn-sm btn-border btn-noborder btn-warning"><i class="fa fa-tablet"></i>&nbsp; MÁY TÍNH BẢNG</button>
                            <button type="button" class="btn btn-sm btn-border btn-noborder btn-success"><i class="fa fa-rss"></i>&nbsp; TIN TỨC</button>
                            <button type="button" class="btn btn-sm btn-border btn-noborder btn-primary"><i class="fa fa-star"></i>&nbsp; ĐÁNH GIÁ</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>*@
            @RenderBody()
        </div><!-- .page-box-content -->
    </div><!-- .page-box -->
    <footer id="footer">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyright col-xs-12 col-sm-3 col-md-3">
                        Bản quyền thuộc © ifind.vn, 2015
                    </div>
                    <div class="phone col-xs-6 col-sm-3 col-md-3">
                        <div class="footer-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                            <path fill="#c6c6c6" d="M11.001,0H5C3.896,0,3,0.896,3,2c0,0.273,0,11.727,0,12c0,1.104,0.896,2,2,2h6c1.104,0,2-0.896,2-2
			   c0-0.273,0-11.727,0-12C13.001,0.896,12.105,0,11.001,0z M8,15c-0.552,0-1-0.447-1-1s0.448-1,1-1s1,0.447,1,1S8.553,15,8,15z
				M11.001,12H5V2h6V12z"></path>
                                </svg>
                        </div>
                        <strong class="title">Đường dây nóng:</strong> +84 (986) 111-680 <br>
                        <strong class="title">Email:</strong> hi@ifind.vn
                    </div>
                    <div class="address col-xs-6 col-sm-3 col-md-3">
                        <div class="footer-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                            <g>
                            <g>
                            <path fill="#c6c6c6" d="M8,16c-0.256,0-0.512-0.098-0.707-0.293C7.077,15.491,2,10.364,2,6c0-3.309,2.691-6,6-6
					c3.309,0,6,2.691,6,6c0,4.364-5.077,9.491-5.293,9.707C8.512,15.902,8.256,16,8,16z M8,2C5.795,2,4,3.794,4,6
					c0,2.496,2.459,5.799,4,7.536c1.541-1.737,4-5.04,4-7.536C12.001,3.794,10.206,2,8,2z"></path>
                                        </g>
                            <g>
                            <circle fill="#c6c6c6" cx="8.001" cy="6" r="2"></circle>
                                        </g>
                                    </g>
                                </svg>
                        </div>
                        26/41/39 Võ Văn Vân, Phường Tân Tạo, Quận Bình Tân<br> TPHCM, VN
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#" class="up">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- .footer-bottom -->
    </footer>
    <div class="clearfix"></div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58634233-1', 'auto');
        ga('send', 'pageview');
    </script>
    @Scripts.Render("~/fo/progressive/js")
    @Scripts.Render("~/fo/moment/js")
    @Scripts.Render("~/fo/angularjs")
    @RenderSection("scripts", required: false)
</body>
</html>
