@model FindTech.Web.Areas.BO.Models.DeviceColorsBOViewModel
@{
    var collapseId = DateTime.Now.Ticks;
    Layout = null;
}
<div class="panel panel-info active" id="panel-@Model.DeviceColorId">
    <div class="panel-heading" role="tab" id="heading-@collapseId">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@collapseId">
                @(string.IsNullOrEmpty(Model.DeviceColorName) ? "New Device colors " : Model.DeviceColorName)
            </a>
        </h4>
    </div>
    <div id="collapse-@collapseId" class="panel-collapse collapse in">
        <div class="panel-body">
            <form role="form" method="POST" action="@Url.Action("Create", "DeviceColorsBO")">
                <input type="hidden" name="DeviceId" value="@Model.DeviceId" />
                <input type="hidden" name="DeviceColorId" value="@Model.DeviceColorId" />
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="DeviceColorName">Device's color</label>
                            <input type="text" class="form-control" name="DeviceColorName" placeholder="Nhập tên màu của device" value="@Model.DeviceColorName">
                        </div>
                    </div>

                    @if (Model.DeviceColorId > 0)
                    {
                        <div class="col-xs-12 col-md-12" id="images-@Model.DeviceColorId">
                            <div class="carousel-box load overflow" data-carousel-height="100">
                                <div class="title-box">
                                    <a class="next" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="1,0.001 0,1.001 7,8 0,14.999 1,15.999 9,8 "></polygon>
                                        </svg>
                                    </a>
                                    <a class="prev" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="16px" viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
                                        <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fcfcfc" points="8,15.999 9,14.999 2,8 9,1.001 8,0.001 0,8 "></polygon>
                                        </svg>
                                    </a>
                                    <h2 class="title">Images</h2>
                                </div>

                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="carousel gallery">
                                        @foreach (var image in Model.DeviceImage)
                                        {
                                            <div class="col-sm-4 col-md-2" id="image-box-@image.DeviceImageId">
                                                <a class="gallery-images" rel="fancybox" href="@image.Url">
                                                    <img src="@image.Thumbnail" width="270" height="135" alt="">
                                                    <span class="bg-images"></span>
                                                </a>
                                                <i class="fa fa-times-circle" onclick="deleteImage(@image.DeviceImageId, @Model.DeviceColorId); return false;"></i>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-xs-12 col-md-12 text-right">
                        @if (Model.DeviceColorId > 0)
                        {
                            <button type="button" class="btn btn-success" id="add-image-@Model.DeviceColorId">Upload Image</button>
                        }
                        <button type="button" class="btn btn-primary" onclick="submitDeviceColors($(this).closest('form'))">Save</button>
                        <button type="button" class="btn btn-danger" onclick="deleteDeviceColors($(this).closest('form'))">Delete</button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        window.applyImageBrowser($('#add-image-@Model.DeviceColorId'), function (imageName, imageUrl, thumbnailUrl, button) {
            $.post('@Url.Action("AddImage", "DeviceColorsBO")', { ImageName: imageName, Url: imageUrl, Thumbnail: thumbnailUrl, contentSectionId: @Model.DeviceColorId }, function (imageId) {
                var imageBox = '<div class="col-sm-4 col-md-2" id="image-box-' + imageId + '">' +
                        '<a class="gallery-images" rel="fancybox" href="' + imageUrl + '">' +
                            '<img src="' + thumbnailUrl + '" width="270" height="135" alt="">' +
                            '<span class="bg-images"></span>' +
                        '</a>' +
                        '<i class="fa fa-times-circle" onclick="deleteImage(' + imageId + ', ' + @Model.DeviceColorId + ')"></i>' +
                    '</div>';
                $('#panel-@Model.DeviceColorId').find('.carousel').prepend(imageBox);
                carousel();
            });
        });
        accordions();
        carousel();
        $("#section-content-@Model.DeviceColorId").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "insertImage",
                "insertFile",
                "subscript",
                "superscript",
                "createTable",
                "addRowAbove",
                "addRowBelow",
                "addColumnLeft",
                "addColumnRight",
                "deleteRow",
                "deleteColumn",
                "viewHtml",
                "formatting",
                "cleanFormatting",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor",
                { name: "insertLineBreak", shift: false },
                { name: "insertParagraph", shift: true }
            ],
            imageBrowser: {
                messages: {
                    dropFilesHere: "Drop files here"
                },
                transport: {
                    read: "/ImageBO/Read",
                    destroy: {
                        url: "/ImageBO/Destroy",
                        type: "POST"
                    },
                    create: {
                        url: "/ImageBO/Create",
                        type: "POST"
                    },
                    thumbnailUrl: "/ImageBO/Thumbnail",
                    uploadUrl: "/ImageBO/Upload",
                    imageUrl: "/ImageBO/Image?path={0}"
                }
            }
        });
    });
</script>