@using FindTech.Entities.Models.Enums
@using FindTech.Web.Areas.BO.Controllers
@using FindTech.Web.Areas.BO.Models
@model DeviceBOViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BO/Views/Shared/_Layout.cshtml";
    var boxSize = (int)Model.BoxSize;
}     

<style>
    .k-dropdown .k-dropdown-wrap {
        height: 38px;
    }
</style> 

<section id="main">
    <div class="container">
        <div class="content">

            <div id="rootwizard">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul>
                                <li><a href="#tab1" data-toggle="tab">Device</a></li>
                                <li><a href="#tab2" data-toggle="tab">Spec</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <form role="form" method="POST" action="@Url.Action("CreateOrUpdate", "DeviceBO")">

                            <input type="hidden" id="deviceId" name="DeviceId" value="@Model.DeviceId" />
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#" class="thumbnail" id="avatar">
                                        <img data-src="holder.js/300x300" alt="300x300" id="imgAvatar" src="" />
                                    </a>
                                    <input type="hidden" name="Avatar" value="" />
                                </div>

                                <div class="col-xs-6 col-md-9">
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label for="lbDeviceName">Device Name</label>
                                            <input type="text" class="form-control" id="txtDeviceName" name="deviceName" placeholder="Device Name" value="@Model.DeviceName"/>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="lbBrand">Brand</label>
                                            <input class="form-control" id="txtBrand" name="BrandId" placeholder="Brand" value="@Model.BrandId"/>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Release Date</label>
                                                <input type='text' id="dpAnounced" name="ReleasedDate" placeholder="Release Date" value="@Model.ReleasedDate" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Rating</label>
                                                <input type='text' id="txtRating" class="form-control" name="Rating" placeholder="Rating" value=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Priority</label>
                                                <input type="text" class="form-control" id="txtPriority" name="Priority" value="@Model.Priority"/>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Box Size</label>
                                                <input type="text" class="form-control" id="boxSize" name="BoxSize" placeholder="Box size" value="@boxSize" />
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label for="lbDescription">Description</label>
                                        <textarea class="form-control" id="txtDescription" name="Description" placeholder="Description">@Model.Description</textarea>
                                    </div>

                                </div>
                            </div>

                            <button type="submit" class="btn btn-default pull-right">Create</button>

                        </form>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="row">

                            <div class="spec" id="specGrid">

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
                
                    


    <script>
        $(document).ready(function () {

            $('#rootwizard').bootstrapWizard({
                
            });

            $('#dpAnounced').kendoDateTimePicker({
                format: "dd-MMM-yy h:mm:ss tt"
            });

            $("#boxSize").kendoDropDownList({
                //optionLabel: "Select Box Size",
                dataTextField: "text",
                dataValueField: "value",
                dataSource: [
                  { text: "Box1", value: "1" },
                  { text: "Box2", value: "2" },
                  { text: "Box3", value: "3" }
                ],
                change: onChangeBoxSize
            });

            $('#submit').click(function () {
                var checkBoxSize = onChangeBoxSize();
                var checkBrand = onChangeBrand();
            });

            


            var deviceBOUrl = "/DeviceBO",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: deviceBOUrl + "/GetSpecs",
                        dataType: "json"
                    },
                    update: {
                        url: deviceBOUrl + "/Update",
                        dataType: "json",
                        type: "POST"
                    },
                    destroy: {
                        url: deviceBOUrl + "/Destroy",
                        dataType: "json",
                        type: "POST"
                    },
                    create: {
                        url: deviceBOUrl + "/Create",
                        dataType: "json",
                        type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                group: {
                    field: "SpecGroupName",
                    dir: "asc"
                },
                schema: {
                    model: {
                        id: "SpecId",
                        fields: {
                            SpecId: { editable: false, defaultValue: 0 },
                            SpecName: { validation: { required: true } },
                            Priority: { type: "number" },
                            IsMain: { type: "boolean" },
                            HightLight: { type: "boolean" },
                            SpecGroupId: { type: "number" },
                            SpecGroupName: { }
                        }
                    }
                }
            });

            $("#specGrid").kendoGrid({
                dataSource: dataSource,
                navigatable: true,
                pageable: true,
                height: 550,
                toolbar: ["create", "save", "cancel"],
                columns: [
                    { field: "SpecName", title: "SpecName", width: 70, editable: false },
                    { field: "Value", title: "Value", width: 120 },
                    { field: "HighLight", title: "HighLight", width: 70 },
                    { command: "destroy", title: "&nbsp;", width: 100 }],
                editable: true
            });

            $("#txtBrand").kendoDropDownList({
                optionLabel: "Select Brand",
                dataTextField: "BrandName",
                dataValueField: "BrandId",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "../BrandBO/GetBrands",
                        }
                    }
                },
                change: onChangeBrand
            });
        });

                        function specDropDownEditor(container, options) {
                            $('<input required data-text-field="SpecName" data-value-field="SpecId" />')
                                .appendTo(container)
                                .kendoDropDownList({
                                    optionLabel: "Select spec...",
                                    autoBind: false,
                                    dataTextField: "SpecName",
                                    dataValueField: "SpecId",
                                    dataSource: {
                                        transport: {
                                            read: {
                                                url: "/SpecBO/GetSpecs",
                                                dataType: "json"
                                            }
                                        }
                                    }
                                });
                        }

                        function onChangeBoxSize() {
                            if ($('#boxSize').val() == '') {
                                $('#boxSize').parent().parent().removeClass('has-feedback').removeClass('has-success').addClass('has-error-dropdown');
                                return false;
                            } else {
                                $('#boxSize').parent().parent().removeClass('has-error-dropdown').removeClass('has-feedback').addClass('has-success');
                                return true;
                            }

                        };

                        function onChangeBrand() {
                            alert($('#txtBrand').val());
                            if ($('#txtBrand').val() == '') {
                                $('#txtBrand').parent().parent().removeClass('has-feedback').removeClass('has-success').addClass('has-error-dropdown');
                                return false;
                            } else {
                                $('#txtBrand').parent().parent().removeClass('has-error-dropdown').removeClass('has-feedback').addClass('has-success');
                                return true;
                            }

                        };
                    </script>


        </div><!-- .content -->
    </div>
</section>

