@using FindTech.Entities.Models
@using FindTech.Entities.Models.Enums
@using FindTech.Web.Models
@using FindTech.Web.Models.Enums
@{
}
<div ng-controller="HomeCtrl" ng-init="init(@ViewBag.HotArticles, @ViewBag.LatestReviews, @ViewBag.TrickAndTipArticles, @ViewBag.EntertainmentChannelArticles, @ViewBag.AppAndGameArticles, @ViewBag.ProductAndTechToyArticles, @ViewBag.BrandAndDigiLifeArticles, @ViewBag.LatestNewses, @ViewBag.HotReviews)">
    @*<div class="slider progressive-slider progressive-slider-two cm-shop-2-slider load">
        <div class="container">
            <div class="row slider-wrapper">
                <div class="col-md-9 sliders-container">
                    <div class="sliders-box">
                        <img ng-repeat="article in trickAndTipArticles.Articles" ng-src="{{article.RectangleAvatar | width:900:article.Avatar}}" width="900" height="450" alt="">
                    </div><!-- .sliders-box -->

                    <div class="pagination switches"></div>
                </div>

                <div class="col-md-3 slider-banners">
                    <a class="banner" href="#" ng-repeat="article in entertainmentChannelArticles.Articles track by $index" ng-if="$index < 3">
                        <img ng-src="{{article.RectangleAvatar | width:270:article.Avatar}}" width="270" height="150" alt="">
                    </a>
                </div><!-- .slider-banners -->
            </div>
        </div>
    </div><!-- .progressive-slider -->*@
    <div class="banner-set load">
        <div class="container">
            <div class="banners">
                <a on-last-repeat ng-repeat="article in hotArticles.Articles" ng-attr-href="/bai-viet/{{article.SeoTitle}}" class="banner">
                    <div class="box">
                        <img ng-src="{{article.SquareAvatar | width:270:article.Avatar}}" width="275" height="275" alt="">
                        <div class="overlay">
                            <h2 class="title">{{article.Title}}</h2>
                            <div class="description" ng-bind-html="article.Description | html"></div>
                        </div>
                    </div>
                </a>
            </div><!-- .banners -->
            <div class="clearfix"></div>
        </div>
        <div class="nav-box">
            <div class="container">
                <a class="prev" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <a class="next" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>
    </div><!-- .banner-set -->
    <section id="main">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <large-slider-box model="latestReviews"></large-slider-box>
                        @*@{Html.RenderPartial("_LargeSliderBox", new ArticleListViewModel { Articles = latestReviews, Title = "Đánh giá & So sánh" });}*@
                        <isotope-box model="latestNewses"></isotope-box>
                        <article class="content">
                            <div class="bottom-padding bottom-padding-mid">
                                <div class="title-box">
                                    <h2 class="title">Mỗi ngày một Video</h2>
                                </div>
                                <div class="video-box youtube">
                                    <iframe frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/96WjArBXbvA?showinfo=0&amp;wmode=opaque"></iframe>
                                </div>
                            </div>
                        </article>
                        <mini-slider-box model="trickAndTipArticles"></mini-slider-box>
                        <mini-slider-box model="entertainmentChannelArticles"></mini-slider-box>
                        @*@{Html.RenderAction("_Widget", "Article", new { articleListViewModel = new ArticleListViewModel { WidgetType = WidgetType.MiniSlider, Title = "Thủ thuật" }, searchType = SearchType.Category, keyword = "tin-tong-hop" });}*@
                    </div>
                    <div class="sidebar col-sm-12 col-md-3">
                        <div class="row">
                            @*<mini-list-box model="pinnedArticles"></mini-list-box>*@
                            <mini-list-box model="hotReviews"></mini-list-box>
                            <mini-list-box model="productAndTechToyArticles"></mini-list-box>
                            <mini-list-box model="brandAndDigiLifeArticles"></mini-list-box>
                            <mini-list-box model="appAndGameArticles"></mini-list-box>
                            @*@{Html.RenderAction("_Pinned", "Article", new { articleListViewModel = new ArticleListViewModel { WidgetType = WidgetType.MiniList, Title = "Đã ghim", TitleStyleClass = "fa fa-thumb-tack background-warning", ClientId = "pinnedArticles" } });}*@
                            @*@{Html.RenderPartial("_MiniListBox", new ArticleListViewModel { Articles = popularReviews, Title = "Đánh giá phổ biến", TitleStyleClass = "fa fa-eye background-primary" });}*@
                            <aside class="widget facebook-widget col-sm-6 col-md-12">
                                <header>
                                    <h3 class="title">Facebook</h3>
                                </header>
                                <div id="fb-root"></div>
                                <div class="fb-like-box" data-href="https://www.facebook.com/ifind.vn" data-width="270" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                            </aside><!-- .facebook-widget -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div><!-- .content -->
        </div>
    </section><!-- #main -->
</div>
