@using System.Activities.Statements
@using System.Globalization
@using AutoMapper
@using FindTech.Entities.Models.Enums
@using FindTech.Web.Models
@using Newtonsoft.Json
@model ArticleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/fo/article/detail/css")
<div ng-controller="ArticleDetailCtrl" ng-init="init(@JsonConvert.SerializeObject(Model), @ViewBag.ContentSectionPageManager, @ViewBag.SameCategoryNewses, @ViewBag.RelatedNewses, @ViewBag.HotNewses, @ViewBag.LikedCommentIds)">
    <div class="container">
        <div class="breadcrumb-box">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> </li>
                <li><a ng-attr-href="/bai-viet/{{article.ArticleCategorySeoName}}">{{article.ArticleCategoryName}}</a> </li>
                <li class="active">{{article.Title}}</li>
            </ul>
        </div><!-- .breadcrumb-box -->
    </div>
    <section id="article">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <header class="page-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <h1 class="title">{{article.Title}}</h1>
                                    <div class="entry-meta">
                                        <div class="posted-info"><span class="blurry-text">Đăng:</span><strong> {{article.PublishedDate | moment}}<span class="separator">|</span><span class="blurry-text">Bởi:</span> {{article.CreatedUserDisplayName}}</strong></div>
                                        <span class="meta btn-icon tags">
                                            <span class="blurry-text">Nhãn:</span>
                                            <a href="/nhan/{{tag}}" ng-repeat="tag in article.Tags.split(',')">{{tag}}</a>
                                        </span>
                                        <div class="go-to-page pull-right" ng-if="contentSectionPageManager.contentSectionPages.length > 0">
                                            <i class="fa fa-bars"></i>Đi đến trang
                                            <div class="list-group">
                                                <span ng-repeat="contentSectionPage in contentSectionPageManager.contentSectionPages" class="list-group-item" ng-if="contentSectionPage.IsCurrentPage"><i class="fa fa-chevron-circle-right"></i>{{contentSectionPage.PageName}}</span>
                                                <a ng-repeat="contentSectionPage in contentSectionPageManager.contentSectionPages" ng-if="contentSectionPage.IsCurrentPage != true" ng-attr-href="/bai-viet/{{article.ArticleCategorySeoName}}/{{article.SeoTitle}}/{{contentSectionPage.PageNumber}}" class="list-group-item"><i class="fa fa-chevron-circle-right"></i>{{contentSectionPage.PageName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="content blog blog-post">
                            <article class="post">
                                <div class="entry-content">
                                    <div ng-if="contentSectionPageManager.currentPage.PageNumber == contentSectionPageManager.minPageNumber" ng-bind-html="article.Content | html"></div>
                                    <section class="content-section" ng-repeat="contentSection in article.ContentSections">
                                        <h4 class="title">{{contentSection.SectionTitle}}</h4>
                                        <i class="description" ng-bind-html="contentSection.SectionDescription | html"></i>
                                        <span class="content" ng-bind-html="contentSection.SectionContent | html"></span>
                                        <image-gallery-slider ng-if="contentSection.Images.length > 0" model="contentSection"></image-gallery-slider>
                                    </section>
                                </div>
                                <div class="article-paging" ng-if="contentSectionPageManager.contentSectionPages.length > 0">

                                    <a ng-if="contentSectionPageManager.nextPage != null" ng-attr-href="/bai-viet/{{article.ArticleCategorySeoName}}/{{article.SeoTitle}}/{{contentSectionPageManager.nextPage.PageNumber}}" class="next-page"><strong>Trang kế</strong> <i class="fa fa-chevron-right"></i> {{contentSectionPageManager.nextPage.PageName}}</a>

                                    <div class="pagination-box pull-right">
                                        <ul class="pagination">
                                            @*<li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>*@

                                            <li ng-repeat="contentSectionPage in contentSectionPageManager.contentSectionPages" ng-class="{active: contentSectionPage.IsCurrentPage}">

                                                <span ng-if="contentSectionPage.PageNumber == contentSectionPageManager.currentPage.PageNumber">{{contentSectionPage.PageNumber}}</span>

                                                <a ng-if="contentSectionPage.PageNumber != contentSectionPageManager.currentPage.PageNumber" ng-attr-href="/bai-viet/{{article.ArticleCategorySeoName}}/{{article.SeoTitle}}/{{contentSectionPage.PageNumber}}">{{contentSectionPage.PageNumber}}</a>

                                            </li>

                                            @*<li><a href="#"><i class="fa fa-angle-right"></i></a></li>*@
                                        </ul>
                                    </div>
                                </div>
                                <div class="article-footer">
                                    <div class="opinion col-md-7 col-sm-12">
                                        <span class="title">Đánh giá bài viết: </span>
                                        <span ng-show="states.ratedOpinion" ng-repeat="opinion in article.Opinions" ng-class="opinion.OpinionBackground" class="opinion-level">{{opinion.OpinionText}}<span class="count">{{opinion.OpinionCount}}</span></span>
                                        <a ng-show="!states.ratedOpinion" ng-repeat="opinion in article.Opinions" href="#" ng-click="rateOpinion(article.ArticleId, opinion.OpinionLevel)" ng-class="opinion.OpinionBackground + '-hover'">{{opinion.OpinionText}}</a>
                                    </div>
                                    <div class="no-padding col-md-5 col-sm-12">
                                        <div class="source">
                                            <span class="blurry-text">Tác giả: </span><strong>{{article.Author}}</strong><br />
                                            <span class="blurry-text">Nguồn: </span><strong>{{article.SourceName}}</strong>
                                        </div>
                                    </div>
                                    <div class="no-padding col-md-7 col-sm-12">
                                        <div class="addthis_sharing_toolbox"></div>
                                        <div class="social">
                                            <a class="fa fa-share-alt" id="zclip" ng-attr-href="{{absUrl}}"></a>
                                        </div>
                                        <div class="link">
                                            <input type="text" readonly="readonly" placeholder="Link" onclick="$(this).select();" value="{{absUrl}}">
                                        </div>
                                    </div>
                                    <div class="no-padding col-md-5 col-sm-12">
                                        <div class="addthis_native_toolbox no-margin pull-right"></div>
                                    </div>
                                </div>
                            </article><!-- .post -->
                            <mini-slider-box model="relatedNewses"></mini-slider-box>
                            <h4 class="title slim">{{commentManager.commentCount}} Bình luận</h4>
                            <ul id="rootCommentList" class="commentlist" ng-if="commentManager.comments.length > 0">
                                <li ng-repeat="comment in commentManager.comments">
                                    <div class="comment">
                                        <img class="avatar" width="60" height="60" src="/UIFramework/Progressive/img/favicon.ico" alt="">
                                        <div class="meta">
                                            <strong>{{comment.CommentatorEmail}}</strong>,
                                            <span class="time">03.11.2013, 10:45:</span>
                                            <span ng-class="'like-count ' + getLikedClass(comment.CommentId)">{{comment.LikeCount}} <i class="fa fa-thumbs-up"></i></span>
                                            <span class="button-list">
                                                <a href="#" class="btn btn-xs" ng-click="openReplyForm(comment, $event, $index)"><i class="fa fa-mail-reply"></i> Trả lời</a>
                                                <a href="#" class="btn btn-xs" ng-click="submitCommentLike(comment)" ng-hide="checkLiked(comment.CommentId)"><i class="fa fa-thumbs-up"></i> Thích</a>
                                                <a href="#" class="btn btn-xs"><i class="fa fa-bell"></i> Báo xấu</a>
                                            </span>
                                        </div>
                                        <p class="description">
                                            {{comment.Content}}
                                        </p>
                                    </div>
                                    <ul class="commentlist">
                                        <li ng-repeat="reply in comment.Replies">
                                            <div class="comment">
                                                <img class="avatar" width="60" height="60" src="/UIFramework/Progressive/img/favicon.ico" alt="">
                                                <div class="meta">
                                                    <strong>{{reply.CommentatorEmail}}</strong>,
                                                    <span class="time">03.11.2013, 10:45:</span>
                                                    <span ng-class="'like-count ' + getLikedClass(reply.CommentId)">{{reply.LikeCount}} <i class="fa fa-thumbs-up"></i></span>
                                                    <span class="button-list">
                                                        <a href="#" class="btn btn-xs" ng-click="submitCommentLike(reply)" ng-hide="checkLiked(reply.CommentId)"><i class="fa fa-thumbs-up"></i> Thích</a>
                                                        <a href="#" class="btn btn-xs"><i class="fa fa-bell"></i> Báo xấu</a>
                                                    </span>
                                                </div>
                                                <p class="description">
                                                    {{reply.Content}}
                                                </p>
                                            </div>
                                        </li>
                                        <li class="text-right" ng-show="comment.Replies.length < comment.ReplyCount">
                                            <button ladda="loadMoreReplyLoading[$index]" ng-click="loadMoreReplies(comment.CommentId, $index)" data-style="zoom-out" class="btn btn-xs load-more unclicked">
                                                Xem thêm
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                                <li class="text-center" ng-show="commentManager.comments.length < commentManager.commentCount">
                                    <button ladda="loadMoreCommentLoading" ng-click="loadMoreComments(article.ArticleId)" data-style="zoom-out" class="btn btn-sm load-more unclicked">
                                        Xem thêm
                                    </button>
                                </li>
                            </ul>
                            <form id="commentForm" name="commentForm" class="comments-form">
                                <div class="row">
                                    <div class="comment-box col-sm-12 col-md-8">
                                        <textarea class="form-control" placeholder="Bình luận của bạn" rows="3" ng-model="newComment.Content" required></textarea>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <input type="email" class="form-control" placeholder="Email của bạn" ng-model="newComment.CommentatorEmail" required />
                                        <button class="btn btn-default pull-right" ng-click="submitComment()" ladda="commentSubmitting" data-style="zoom-out">Gửi</button>
                                        <button class="btn btn-danger" ng-click="cancelComment()">Hủy</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- .content -->
                    </div>
                    <div class="sidebar col-sm-3 col-md-3">
                        <div class="row">
                            @*@{Html.RenderAction("_Pinned", "Article", new { articleListViewModel = new ArticleListViewModel { WidgetType = WidgetType.MiniList, Title = "Đã ghim", TitleStyleClass = "fa fa-thumb-tack background-warning", ClientId = "pinnedArticles" } });}*@
                            <mini-list-box model="pinnedArticles"></mini-list-box>
                            <mini-list-box model="sameCategoryNewses"></mini-list-box>
                            <mini-list-box model="hotNewses"></mini-list-box>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section><!-- #main -->
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a2fc0f2f4412f7" async="async"></script>
@Scripts.Render("~/fo/article/detail/js")